*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --white : #fafafa;
  --black : #000;
  --gray: #313131;
  --green : #91ca43;
}

body{
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  background: var(--white);
  overflow-x: hidden;
}

footer{
  background: var(--gray);
  color: var(--white);
}